<h3>Liste des acteurs</h3>
<hr>

<div>

    <ul class="list-group">
    	<li *ngFor="let actor of actorsList" 
			class="list-group-item"
			(click)="actorSelected(actor)"
			[class.active]="isSelected(actor)">
			<div class="row">
			<h4>{{ actor.name}}</h4>
			<small>{{ actor.birth_year}}</small>
			<button type="button" class="btn btn-danger" aria-label="Right Align" (click)="deleteActor(actor.id)">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"> supprimer</span>
			</button>
			</div>
		</li>
	</ul>
</div>
